*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
}

body{
    background-color: #585656;
}

img{
    width: 50px;
    margin-right: 10px;
}


.container{
    background-color: #fff;
    width: 500px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.container form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
}

.container form input{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 0;
    outline: none;
}

.container form input[type="submit"]{
    box-shadow: 4px 4px 0px 1px #111;
}